<app-navbar></app-navbar>
<div
  style="
    margin-left: 274px;
    font-size: 44px;
    margin-top: 150px;
    margin-bottom: 50px;
  "
>
  <p>Программы</p>
</div>
<div class="say2">
  <app-mini-sidebar></app-mini-sidebar>
  <div class="say2" style="margin-top: -240px">
    <div style="margin-left: 184px; margin-right: 50px">
      <p style="font-size: 36px; color: red">
        Восстановление <br />метаболического баланса
      </p>
      <p style="font-size: 16px; color: silver">
        Не очень краткое описание группы программ, <br />
        так как в описании<br />
        текст может быть длиннее чем сейчас написан
      </p>
    </div>
    <div>
      @for (item of services; track item.id) {

      <div class="say2">
        <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
        <div>
          <p>{{ item.name }}</p>
        </div>
      </div>
      }
    </div>
    <div style="margin-left: 58px">
      @for (item of services; track item.id) {

      <div class="say2">
        <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
        <div>
          <p>{{ item.name }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<div class="say2" style="margin-top: -200px">
  <div style="margin-left: 274px; margin-right: 180px">
    <p style="font-size: 36px; color: red">
      Наименование <br />группы программ
    </p>
    <p style="font-size: 16px; color: silver">
      Краткое описание группы программ
    </p>
  </div>
  <div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
  </div>
  <div style="margin-left: 58px">
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
  </div>
</div>
<div class="say2" style="margin-top: 150px">
  <div style="margin-left: 274px; margin-right: 180px">
    <p style="font-size: 36px; color: red">
      Наименование <br />группы программ
    </p>
    <p style="font-size: 16px; color: silver">
      Краткое описание группы программ
    </p>
  </div>
  <div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
  </div>
  <div style="margin-left: 58px">
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
  </div>
</div>
<div class="say2" style="margin-top: 150px; margin-bottom: 150px">
  <div style="margin-left: 274px; margin-right: 180px">
    <p style="font-size: 36px; color: red">
      Наименование <br />группы программ
    </p>
    <p style="font-size: 16px; color: silver">
      Краткое описание группы программ
    </p>
  </div>
  <div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
  </div>
  <div style="margin-left: 58px">
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
    <div class="say2">
      <div><img src="../../../../assets/atom 1.png" alt="Rasm" /></div>
      <div><p>Восстановление метаболического баланса</p></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
