
<header>
  <nav class="container">
    <ul class="link">
      <li>
        <a href="" class="">Услуги </a>
      </li>
      <li>
        <a href="" class="">Программы</a>
      </li>
      <li>
        <a href="" class="">Специалисты</a>
      </li>
      <li>
        <a href="" class="">Отзывы</a>
      </li>
      <li>
        <a href="" class="">Пресс-Центр  </a>
      </li>
      <li>
        <a href="" class="">Контакты</a>
      </li>
      <li><div class="card flex justify-content-center">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/register">register</a></li>
            <li><a class="dropdown-item" href="/login">login</a></li>
            <li><a class="dropdown-item" href="/home">home-page</a></li>
            <li><a class="dropdown-item" href="/doctor">doctor</a></li>
            <li><a class="dropdown-item" href="/program">program</a></li>
            <li><a class="dropdown-item" href="/programma">programma</a></li>
            <li><a class="dropdown-item" href="/feedback">feedback</a></li>
            <li><a class="dropdown-item" href="/specialists">specialists</a></li>
            <li><a class="dropdown-item" href="/press-center">press-center</a></li>
            <li><a class="dropdown-item" href="/contact">contact</a></li>
            <li><a class="dropdown-item" href="/dashboard">dashboard</a></li>
            <li><a class="dropdown-item" href="/not-found">not-found</a></li>
          </ul>
        </div>
    </div></li>
    </ul>
    <div class="logo">
      <div class="logo_link">
        <img src="../../../../assets/logo2_3.svg" alt="">
      </div>
      <div class="logo_link">
        <a href="" class="">Москва
          , Кропоткинский переулок, д. 4 стр. 1.</a>
      </div>
      <div class="logo_link-all">
        <a href="" class="">+7 (495) 154 21 44</a>
      </div>
      <div class="logo_link-all">
        <button>Записаться</button>
      </div>

    </div>
  </nav>
</header>
