<header>
  <nav class="container">
    <ul class="link">
      <li>
        <a href="" class="">Услуги </a>
      </li>
      <li>
        <a href="" class="">Программы</a>
      </li>
      <li>
        <a href="" class="">Специалисты</a>
      </li>
      <li>
        <a href="" class="">Отзывы</a>
      </li>
      <li>
        <a href="" class="">Пресс-Центр  </a>
      </li>
      <li>
        <a href="" class="">Контакты</a>
      </li>
    </ul>
    <div class="logo">
      <div class="logo_link">
        <img src="../../../../assets/logo2_3.svg" alt="">
      </div>
      <div class="logo_link">
        <a href="" class="">Москва
          , Кропоткинский переулок, д. 4 стр. 1.</a>
      </div>
      <div class="logo_link-all">
        <a href="" class="">+7 (495) 154 21 44</a>
      </div>
      <div class="logo_link-all">
        <button>Записаться</button>
      </div>

    </div>
  </nav>
</header>