<body>
  <div class="wrapper">
    <form action="#">
      <h2>Войти</h2>
      <div class="input-field">
        <input type="text" required />
        <label>E-mail адрес</label>
      </div>
      <div class="input-field">
        <input type="password" required />
        <label>Парол</label>
      </div>
      <button type="submit">Войти</button>
      <div class="register">
        <p>Нету аккаунта? <a (click)="toRegister()">Зарегистрироваться</a></p>
      </div>
    </form>
  </div>
</body>
