
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    max-width: 1740px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}
.text {
    font-family: Roboto,Condensed;
    font-size: 44px;
    font-weight: 300;
    line-height: 51.56px;
    text-align: left;
}
.savoljonatish {
    display: flex;
    align-items: center;
}
 