<div class="card" style="width: 18rem;">
    <img src={{picturePath}} class="card-img-top" alt="...">
    <img src="../../../../../../../../exammmss/src/Clinic.API/wwwroot/DoctorPh/0840d9ad-bd05-4ecb-b10f-65ca195d7f93.png" class="card-img-top" alt="tr">
    <div class="card-body">
      <p class="country">{{country}}</p>
      <h1 class="fullname">{{fullname}}</h1>
      <p class="skills">{{skill}}</p>
      <p class="specialst">{{specialst}}</p>
      <p class="startWork">{{startWork}}</p>
      <p class="description">{{description}}</p>
      <button routerLink="../home" routerLinkActive="router-link-active"  class="subscribe">Записаться на прием</button>
    </div>
</div>