<div class="card" style="width: 18rem;">
    <img src="../../../../assets/Mask Group (2).png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="country">{{country}}</p>
      <h1 class="fullname">{{fullname}}</h1>
      <p class="skills">{{skill}}</p>
      <p class="specialst">{{specialst}}</p>
      <p class="startWork">{{startWork}}</p>
      <p class="description">{{description}}</p>
      <button routerLink="../home" routerLinkActive="router-link-active"  class="subscribe">Записаться на прием</button>
    </div>
</div>