<body>
  <div class="wrapper">
    <form action="#">
      <h2>Зарегистрироваться</h2>
      <div class="input-field">
        <input type="text" required />
        <label>Имя</label>
      </div>
      <div class="input-field">
        <input type="text" required />
        <label>Фамилия</label>
      </div>
      <div class="input-field">
        <input type="text" required />
        <label>E-mail адрес</label>
      </div>
      <div class="input-field">
        <input type="password" required />
        <label>Парол</label>
      </div>
      <button type="submit">Зарегистрироваться</button>
      <div class="register">
        <p>Уже есть аккаунт?  <a (click)="toLogin()">Войти</a></p>
      </div>
    </form>
  </div>
</body>
