<body>
  <div class="wrapper">
    <form action="#" [formGroup]="form" (ngSubmit)="register()">
      <h2>Зарегистрироваться</h2>
      <div class="input-field">
        <input type="text" required formControlName="username" />
        <label>Никнейм</label>
      </div>
      <div class="input-field">
        <input type="text" required formControlName="firstName" />
        <label>Имя</label>
      </div>
      <div class="input-field">
        <input type="text" required formControlName="lastName" />
        <label>Фамилия</label>
      </div>
      <div class="input-field">
        <input type="text" required formControlName="email" />
        <label>E-mail адрес</label>
      </div>
      <div class="input-field">
        <input type="password" required formControlName="password"  />
        <label>Парол</label>
      </div>
      <button type="submit">Зарегистрироваться</button>
      <div class="register">
        <p>Уже есть аккаунт?  <a (click)="toLogin()">Войти</a></p>
      </div>
    </form>
  </div>
</body>
