<app-navbar></app-navbar>

<main>
    <section class="home1">
        <div class="container">
            <div class="home1-img">
                <div class="home-img-left">
                    <div class="home1-img-1">
                        <img src="../../../../assets/logo2_2.svg" alt="">
                        <h1 style="margin-left: 30px;" class="home1-img-1-text">Европейский стандарт<br>антивозрастной
                            эстетической медицины
                        </h1>
                    </div>
                    <div>
                        <img class="home1-img-2" src="../../../../assets/logo-img.svg" alt="">
                    </div>
                    <div class="home1-img-3">
                        <a>Великолепие за гранью времени</a>
                    </div>
                    <div class="home1-img-4">
                        <a>+7 (495) 154 21 44</a>
                    </div>
                    <div class="home1-dorina">
                        <img style="position: absolute; 
                        top: 0;
                        right: 0;
                        width: 24px;
                        height: 24px;
                        gap: 0px;
                        opacity: 0px;
                        overflow: hidden;
                        opacity: 25%;
                        " src="../../../../assets/clear-svgrepo-com.svg" alt="">
                        <div class="home1-donich">
                            <img style="border-radius: 50%;" src="../../../../assets/DarinaDochich-1.svg" alt="">
                            <div class="home1-donich-text">
                                <p style="font-family: TT Norms;
                                    font-size: 20px;
                                    font-weight: 400;
                                    line-height: 35.4px;
                                    text-align: left;
                                    color: #000000;
                                    ">Дорина Донич <br><span style="font-family: TT Norms;
                                    font-size: 15px;
                                    font-weight: 300;
                                    line-height: 26.55px;
                                    text-align: left;
                                    color: red;
                                    ">Руководитель клиники</span>
                                </p>
                            </div>
                        </div>
                        <div class="home1-donich-bottom">
                            <p>В декбаре проводим вебинары по теме <br> “Восстановление женского здоровья ”, все
                                желающие<br>
                                могут записаться через <span style="color: red;">форму</span></p>
                        </div>
                    </div>
                </div>
                <div class="home-img-right">
                    <img src="../../../../assets/logo2_4.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>