@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    max-width: 1740px;
    padding: 0 20px;
    margin: 0 auto;
}

.home1-img {
 display: flex;
 align-items:center;
 padding-right: 550px; 

}
.home-img-right {
    position: absolute;
    left: 50%;
}
.home1-img-1 {
    display: flex;
    align-items: center;
    padding-left: 120px;
    padding-top: 100px;
}

.home1-img-1-text {
    font-family: TT Norms;
    display: flex;
    //text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 26.55px;
    text-align: left;
    color: #EE1C1F;
}

.home1-img-2 {
    width: 603px;
    height: 206.95px;
    top: 288px;
    left: 188px;
    gap: 0px;
    opacity: 0px;
    padding-left: 100px;
}

.home1-img-3 {
    font-family: Roboto Condensed;
    font-size: 35px;
    font-weight: 300;
    line-height: 51.56px;
    text-align: left;
    color: #000000;
    padding-left: 100px;
}

.home1-img-4 {
    font-family: TT Norms;
    font-size: 35px;
    font-weight: 300;
    line-height: 56.65px;
    text-align: left;
    color: red;
    padding-left: 100px;
    padding-top: 17px;
}

.home1-dorina {
    position: relative;
    width: 473px;
    height: 231px;
    background-color: #ffffff;
    border: 1px solid hidden;
    padding-left: 34px;
    padding-top: 17px;
    margin: 107px 0 48px 54px;
    -webkit-box-shadow: 0px 4px 10px 6px rgba(34, 60, 80, 0.37);
    -moz-box-shadow: 0px 4px 10px 6px rgba(34, 60, 80, 0.37);
    box-shadow: 0px 4px 10px 6px rgba(34, 60, 80, 0.37);
}

.home1-donich {
    display: flex;
    align-items: center;
}

.home1-donich-text {
    display: flex;
    padding-left: 20px;
}

.home1-donich-bottom {
    padding: 15px;
    // width: 413px;
    // height: 81px;
    top: 911px;
    left: 84px;
    gap: 0px;
    border-radius: 0px 12px 12px 12px;
    opacity: 0px;
    background: #F4F4F4;
    ;
}