<app-navbar></app-navbar>

<main>
    <section class="home1">
        <div class="container">
            <div class="home1-img">
                <div class="home-img-left">
                    <div class="home1-img-1">
                        <img src="../../../../assets/logo2_2.svg" alt="">
                        <h1 style="margin-left: 30px;" class="home1-img-1-text">
                            Европейский стандарт<br>антивозрастной
                            эстетической медицины
                        </h1>
                    </div>
                    <div>
                        <img class="home1-img-2" src="../../../../assets/logo-img.svg" alt="">
                    </div>
                    <div class="home1-img-3">
                        <a>Великолепие за гранью времени</a>
                    </div>
                    <div class="home1-img-4">
                        <a>+7 (495) 154 21 44</a>
                    </div>
                    <div class="home1-dorina">
                        <img style="position: absolute; 
                        top: 0;
                        right: 0;
                        width: 24px;
                        height: 24px;
                        gap: 0px;
                        opacity: 0px;
                        overflow: hidden;
                        opacity: 25%;
                        " src="../../../../assets/clear-svgrepo-com.svg" alt="">
                        <div class="home1-donich">
                            <img style="border-radius: 50%;" src="../../../../assets/DarinaDochich-1.svg" alt="">
                            <div class="home1-donich-text">
                                <p style="font-family: TT Norms;
                                    font-size: 20px;
                                    font-weight: 400;
                                    line-height: 35.4px;
                                    text-align: left;
                                    color: #000000;
                                    ">Дорина Донич <br><span style="font-family: TT Norms;
                                    font-size: 15px;
                                    font-weight: 300;
                                    line-height: 26.55px;
                                    text-align: left;
                                    color: red;
                                    ">Руководитель клиники</span>
                                </p>
                            </div>
                        </div>
                        <div class="home1-donich-bottom">
                            <p>В декбаре проводим вебинары по теме <br> “Восстановление женского здоровья ”, все
                                желающие<br>
                                могут записаться через <span style="color: red;">форму</span></p>
                        </div>
                    </div>
                </div>
                <div class="home-img-right">
                    <img src="../../../../assets/logo2_4.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="home2">
        <div>
            <div class="home2-box"></div>
            <div class="home2-img">
                <img src="../../../../assets/banner 1.svg" alt="">
            </div>
            <div class="home2-text">
                <div>
                    <p class="home2-text-katta">
                        Против единых стандартов красоты.<br>За стандарт доказательной медицины
                    </p>
                </div>
                <p class="home2-text-kichkina">
                    <span style="opacity: 60%;">
                        Мы предлагаем нашим пациентам новейшие достижения <br> эстетической медицины: эксклюзивные
                        программы
                        <br> безоперационной коррекции возрастных изменений лица и тела,<br> высокоэффективные программы
                        омоложения с помощью<br> клеточных технологий, снижения веса, пересадки волос, лечения<br> волос
                        и
                        кожи головы и многое другое. <br><br><br>
                        Благодаря Expert Clinics время можно повернуть вспять, взяв от<br> прожитых лет только мудрость
                        и
                        опыт, но никак не досадные<br> перемены во внешности и состоянии здоровья.<br><br><br>
                    </span>
                    <span style="font-size: 13px; color: red;">руководитель клиники Expert Clinics</span><br><span
                        style="font-size: 20px; font-family:'Times New Roman', Times, serif;">Дорина Донич</span>
                </p>
            </div>
        </div>
    </section>
    <section class="home3">
        <div class="home3-img">
            <img style="width: 700px;
            height: 785px;
            top: 2265px;
            left: 1100px;
            gap: 0px;
            opacity: 0px; 
            " src="../../../../assets/Home3.svg" alt="">
        </div>
        <div class="home3-right">
            <p>
                <span style="font-family: Roboto,Condensed;
                            font-size: 90px;
                            font-weight: 200;
                            line-height: 150.74px;
                            text-align: left;
                            align-items: center;
                            ">
                    <span style="font-family: Roboto,Condensed;
                   font-size: 130px;
                   font-weight: 300;">молодость</span><br>
                    внутри и снаружи</span><br>
                <span style="font-family: TT, Norms;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 31.2px;
                    text-align: left;
                    opacity: 60%;
                    ">Клиника антивозрастной регенеративной и эстетической медицины под
                    <br> управлением холдинга <span style="color: red;">A Swiss Group AG, Швейцария</span></span>
            </p>
            <div>
                <li class="extra-elements">
                    <button class="qabul"><a href=""
                            style="color: #EE1C1F; text-decoration: none; font-size: 20px;">Записаться на консультацию
                        </a></button>
                </li>

                <li><a href="#" style="font-family: TT,Norms;
                                        text-decoration: none;
                                        position: relative;
                                        font-size: 28px;
                                        font-weight: 300;
                                        line-height: 42.48px;
                                        text-align: left;
                                        top: -22px;
                                        left: 360px;
                                        color: rgb(83, 82, 82);
                                        ">Подробнее о клинике</a></li>
                <div class="raqam">
                    <li>
                        <app-duration-time 
                        [beforeTime]="''"
                        [time]="'7'"
                        [timeDescription]="''"
                        [mainDescription]="''"/>
                        <app-duration-time 
                        [beforeTime]="''"
                        [time]="'10'"
                        [timeDescription]="''"
                        [mainDescription]="''"/>    
                    </li>
                    <li >
                        <app-duration-time 
                        [beforeTime]="''"
                        [time]="'7'"
                        [timeDescription]="''"
                        [mainDescription]="''"/>
                        <app-duration-time 
                        [beforeTime]="''"
                        [time]="'12'"
                        [timeDescription]="''"
                        [mainDescription]="''"/>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <section class="home4" style="display: flex;align-items: start;">
        <div class="home4-left">
            <ul>
                <li style="font-family: Roboto,Condensed;
                            font-size: 44px;
                            font-weight: 200;
                            line-height: 51.56px;
                            text-align: left;
                            padding-bottom: 50px;
                            padding-left: 50px;">
                    Специалисты <br> клиники
                </li>
                <li style="
                display: flex;
                flex-wrap: wrap; 
                font-family: TT,Norms;
                font-size: 18px;
                font-weight: 300;
                line-height: 21.24px;
                text-align: left;
                padding-left:50px ;
                opacity: 60%;">
                    Врач станет медицинским партнером и куратором на долгие <br> годы. <br><br>
                    Он поможет вам и вашей семье <br> вовремя пройти обследования,<br> скорректировать привычки.</li>
                </ul>
        </div>
        <ul class="list">
            <li class="home4-box" style="opacity: 30%;"><a href="#"><img src="../../../../assets/images/prew.svg" alt=""></a></li>
            <li class="home4-box"><a href=""><img src="../../../../assets/images/next.svg"alt=""></a></li>
        </ul>
        <div class="cards">
            @for (doctor of Doctors; track doctor.id) {
            <app-card [picturePath]="doctor.picturePath" [country]="doctor.address" [fullname]="doctor.name"
                [skill]="doctor.specialist.name" [specialst]="doctor.serviceType.name"
                [startWork]="'Стаж работы с '+doctor.startWork+' год'" [description]="''" />
            }
        </div>
    </section>

    <section class="home5">

    </section>
</main>

<app-footer></app-footer>