
<app-navbar></app-navbar>
<div class="say2">
    <div>
        <div><p class="Name">Дорина Донич</p></div>

        <div class="say2">
            <div><p class="contener" style="color: red;">Эндокринолог</p></div>
            <div><p style="color: red; margin-left: 10px;">Швейцария</p></div>
        </div>

        <div>
            <p style="font-size: 96px; color: silver; margin-top: 30px; margin-left: 184px;">2001</p>
            <p style="margin-left: 184px; margin-bottom: 50px; margin-top: -20px;">год начала врачебной практики</p>
        </div>

    
        <div class="contener">
            <p style="font-size: 34px;">Русский, английский</p>
            <p  style="color: silver; margin-bottom: 70px;">Языки</p>
        </div>
    
        <div class="contener">
            <div class="say">
                <div><img src="assets/folder 1.png" alt=""></div>
                <div><p>Руководитель клиники</p></div>
            </div>
        </div>
    
        <div class="contener">
            <div class="say">
                <div><img src="assets/atom 1.png" alt=""></div>
                <div><p>Доктор медицинских наук
                </p></div>
            </div>
        </div>
    
        <div class="contener">
            
            <button class="qabul"><a href="" style="color: #EE1C1F; text-decoration: none;">Записаться на прием</a></button>
            <button class="zadatvapros"><a href="" style="color: #000000; text-decoration: none;">Задать вопрос</a></button>
              
        </div>
        
    </div>

    
    
    <div class="contener" style="margin-top: 51px;">
        <img src="../../../../assets/Mask Group (1).png" alt="" style="width: 765px; height: 892px; margin-right: 60px;">
    </div>
</div>



<div class="say2" style="margin-left: 184px; margin-right: 20px; margin-top: 50px; margin-bottom: 150px;">

    
    <div style="font-size: 44px; margin-right: 230px;"><p>Cпециалисте</p></div>

    <div>
        <p style="font-size: 20px;">Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития.
        Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития.
    </p>
    </div>

    <div>
        <p style="margin-left: 30px; font-size: 20px; margin-right: 20px;">
            Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития.
            Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития.
        </p>
    </div>

</div>



<div class="say2" style="argin-left: 184px";>

    <div>
        <p style="font-size: 44px;">Дипломы и сертификаты</p>
    </div>
    
    <div>
        <div>
          <p style="text-align: center;">Bu yerdasdasda coarusel boladi</p>
        </div>
    </div>
</div>

<app-footer></app-footer>