<div>
        <div><p class="Name">Дорина Донич</p></div>
    <div><p class="contener" style="color: red;">Эндокринолог</p></div>
    <div><p class="contener" style="color: red">Швейцария</p></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="contener">
        <p style="font-size: 36px;">Русский, английский</p>
        <p  style="color: silver;">Языки</p>
    </div>

    <div class="contener">
        <div class="say">
            <div><img src="assets/folder 1.png" alt=""></div>
            <div><p>Руководитель клиники</p></div>
        </div>
    </div>

    <div class="contener">
        <div class="say">
            <div><img src="assets/atom 1.png" alt=""></div>
            <div><p>Доктор медицинских наук
            </p></div>
        </div>
    </div>

    


</div>

