
<app-navbar></app-navbar>
<div class="say2">
    <div>
        <div><p class="Name">Дорина Донич</p></div>
        <div><p class="contener" style="color: red;">Эндокринолог</p></div>
        <div><p class="contener" style="color: red">Швейцария</p></div>
        
        <div>
            <p style="font-size: 96px; color: silver; margin-top: 50px; margin-left: 184px;">2001</p>
            <p style="margin-left: 184px; margin-bottom: 150px; margin-top: -20px;">год начала врачебной практики</p>
        </div>

    
        <div class="contener">
            <p style="font-size: 36px;">Русский, английский</p>
            <p  style="color: silver;">Языки</p>
        </div>
    
        <div class="contener">
            <div class="say">
                <div><img src="assets/folder 1.png" alt=""></div>
                <div><p>Руководитель клиники</p></div>
            </div>
        </div>
    
        <div class="contener">
            <div class="say">
                <div><img src="assets/atom 1.png" alt=""></div>
                <div><p>Доктор медицинских наук
                </p></div>
            </div>
        </div>
    
    
        <div class="contener">
            
            <button class="qabul"><a href="" style="color: #EE1C1F; text-decoration: none;">Записаться на прием</a></button>
            <button class="zadatvapros"><a href="" style="color: #000000; text-decoration: none;">Задать вопрос</a></button>
              
        </div>
        
    </div>

    
    <div class="contener" style="margin-top: 51px;">
        <img src="../../../../assets/Mask Group (1).png" alt="" style="width: 765px; height: 892px; margin-right: 60px;">
    </div>
</div>

<div><p>Hello</p></div>


<app-footer></app-footer>