.Name{

    font-size: 44px;
    margin-top: 51px;
    margin-left: 184px;
    
}

.contener{

    margin-left: 184px;

}
.say{
    
display: flex;
 
}




.qabul {
    width: 310px;
    height: 60px;
    top: 26px;
    left: 1710px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #EE1C1F;
    margin: 60px auto;
}

.qabul:hover {
    background-color: #92dbff; /* Hover ҳолда фон рангини ўзгартириш */
    color: white; /* Шрифт рангини озгартириш */
    opacity: 1;
     /* Опаситини ошириш */
}


.say2{
    
    display: flex;
     
}

.zadatvapros {
    width: 310px;
    height: 60px;
    top: -5px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0f0c0c;
    
}

.zadatvapros:hover {
    background-color: #92dbff; /* Hover ҳолда фон рангини ўзгартириш */
    color: white; /* Шрифт рангини озгартириш */
    opacity: 1;
     /* Опаситини ошириш */
}
