.Name{

    font-size: 44px;
    margin-top: 171px;
    margin-left: 184px;
    
}

.contener{

    margin-left: 184px;

}
.say{
    
display: flex;
 
}

.button1{

    width: 310px;
    height: 60;
}