.Name {

  font-size: 44px;
  margin-top: 51px;
  margin-left: 184px;

}

.contener {

  margin-left: 184px;

}

.say {

  display: flex;

}




.qabul {
  width: 310px;
  height: 60px;
  top: 26px;
  left: 1710px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #EE1C1F;
  margin: 60px auto 35px;
}

.qabul:hover {
  background-color: #92dbff;
  /* Hover ҳолда фон рангини ўзгартириш */
  color: white;
  /* Шрифт рангини озгартириш */
  opacity: 1;
  /* Опаситини ошириш */
}


.say2 {

  display: flex;

}

.zadatvapros {
  width: 310px;
  height: 60px;
  top: 5px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-bottom: 20px;
  border: 1px solid #0f0c0c;

}

.zadatvapros:hover {
  background-color: #92dbff;
  /* Hover ҳолда фон рангини ўзгартириш */
  color: white;
  /* Шрифт рангини озгартириш */
  opacity: 1;
  /* Опаситини ошириш */
}



.list {
  display: flex;
  gap: 8px;
  padding: 16px;

  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.item {
  flex-shrink: 0;
  width: 80%;
  height: 90vh;

  background-color: #FFF;

  scroll-snap-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-family: sans-serif;
  font-size: 64px;
  font-weight: bold;
}


body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

.container {

  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #0e878d;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


div#comparison {
  width: 60vw;
  height: 60vw;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}

div#comparison figure {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-before.jpg);
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

div#comparison figure>img {
  position: relative;
  width: 100%;
}

div#comparison figure div {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-after.jpg);
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: -2rem;
  left: -2%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 102%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:active {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  outline: none;
}

input[type=range]::active {
  border: none;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
}

input[type=range]:focus::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.5);
}

input[type=range]:focus::-moz-range-thumb {
  background: rgba(255, 255, 255, 0.5);
}


