.url{
    font-size: 15px;
    font-weight: 300;
    color: rgb(237, 123, 142);
    padding-top: 100px;
}

.top{
    display: flex;
}

.sideBar{
    margin-right: 100px;
}

.main-header{
    font-size: 44px;
    font-weight: 300;
}

.specialist {
    display: flex;
}

.minibar {
    width: 200px;
}

.main-header {
    font-size: 44px;
    font-weight: 300;
    padding-top: 10px;
}

.site-url {
    padding-top: 60px;
}

.form-control {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.input-group-text {
    width: 65px;
    height: 50px;
    background-color: white;
    border: white;
}

.dropdown-toggle {
    display: flex;
    width: 300px;
    margin-left: 20px;
    background-color: white;
    color: gray;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.dropdown-toggle:hover {
    background-color: rgb(216, 212, 212);
    color: gray;
}

.dropdown-img {
    width: 30px;
    height: 30px;
}

.droptown-text {
    padding-left: 35px;
}

.options {
    margin-top: 30px;
}

.card-div {
    margin-left: 10px;
    margin-top: 50px;
}

.above-cards{
    display: flex;
    flex-wrap: wrap;
}

.inputs{
    margin-top: 50px;
    margin-right: 30px;
}

.goto-blog{
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    margin-left: 30px;
}

.move{
    margin: 20px;
}

.news{
    margin-top: 800px;
}

.experts{
    margin-top: 200px;
}

.main-card-1{
    width: 350px;
    height: 500px;
    margin-left: 50px;
}

.face{
    width: 350px;
    height: 400px;
}

.face-header{
    font-size: 36px;
    font-weight: 300;
}

.fullname{
    font-size: 13px;
    font-weight: 300;
    color: pink;
}

.date{
    font-size: 13px;
    font-weight: 300;
    color: pink;
    padding-left: 10px;
}

.mini-description{
    display: flex;
}

.main-card-2{
    width: 500px;
    height: 500px;
    margin-left: 10px;
}

.topper{
    display: flex;
}

.naked{
    width: 500px;
    height: 400px;
}

.datas{
    width: 104%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

