<app-navbar></app-navbar>


<br>
<br><br><br>
<div class="say2">


    <div>
    
        <div style="margin-left: 184px; margin-top: 50px;">
            <p style="font-size: 44px;">
                Наименование программы
            </p>
            <p>
                Описание программы. Задача организации, в особенности , <br> же рамки и место обучения кадров позволяет выполнять важные <br>задания по разработке систем массового участия.<br> Разнообразный и богатый опыт дальнейшее развитие различных<br> форм деятельности играет важную роль в формировании форм развития.
        
            </p>
        </div>
        
        
        <div class="say2" style="margin-left: 184px; margin-top: 50px;">
            <div style="margin-right: 60px;">
                <p style="font-size: 36px; color: red;">от 15 000 руб.</p>
            </div>
            
            <div>
                <p style="font-size: 36px;">6 месяцев
                </p>
            </div>
        </div>
        
        <div style="margin-left: 184px; margin-top: 50px;">
            <button class="qabul">
                <a href="" style="color: #ee1c1f; text-decoration: none"
                  >Консультация специалиста</a
                >
              </button>
        </div>
        
        <div style="margin-left: 184px; font-size: 18px; margin-top: 40px;">
        
            <nav>
                <ul>
                    <li><a href="#results">Результаты программы</a></li>
                    <li><a href="#structure">Состав программы</a></li>
                    <li><a href="#team">Специалисты</a></li>
                    <li><a href="#reviews">Отзывы</a></li>
                </ul>
            </nav>
        
        </div>
        
        </div>
        
        
        
        
        <div class="im">
        
            <img
            src="../../../../assets/Mask Group (2).png" 
            alt=""/>
        
        </div>



</div>



<app-footer></app-footer>
