<header class="app-header">
    <div class="app-header-logo">
    </div>
    <div class="app-header-navigation">
        <div class="tabs">
            <a href="#">
            Doctors
            </a>
            <a href="#" class="active">
                Specialists
            </a>
            <a href="#">
                ServiceTypes
            </a>
            <a href="#">
                Results
            </a>
            <a href="#">
                Diploms
            </a>
            <a href="#">
                Skills
            </a>
            <a href="#">
                News
            </a>
            <a href="#">
                Feedbacks
            </a>
            <a href="#">
                Educations
            </a>
            <a href="#">
                Users
            </a>
        </div>
    </div>
    <div class="app-header-mobile">
        <button class="icon-button large">
            <i class="ph-list"></i>
        </button>
    </div>

</header>